<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LED.Control.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
<userSettings>
        <LED.Control.Properties.Settings>
                <setting name="Left" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="Top" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="COM_port" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="SelectEffect" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="PowerSet" serializeAs="String">
                        <value>True</value>
                </setting>
                <setting name="Brightness" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="Speed" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="SetColor" serializeAs="String">
                        <value>FFFFFF</value>
                </setting>
                <setting name="MaxSpeed" serializeAs="String">
                        <value>8</value>
                </setting>
                <setting name="HideClose" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="MaxBrightness" serializeAs="String">
                        <value>25</value>
                </setting>
                <setting name="AutoStart" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="SettingBrightness" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="SettingSpeed" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="DefaultLanguage" serializeAs="String">
                        <value>en-US</value>
                </setting>
                <setting name="SettingLang" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="PowerForeground" serializeAs="String">
                        <value>#FF5555</value>
                </setting>
                <setting name="LastSettingBrightness" serializeAs="String">
                        <value>50</value>
                </setting>
                <setting name="eeprom" serializeAs="String">
                        <value>100000</value>
                </setting>
                <setting name="eepromColor" serializeAs="String">
                        <value>#4BFF26</value>
                </setting>
        </LED.Control.Properties.Settings>
    </userSettings>
</configuration>
